body{
    background-color: #211A29;
    text-align:center;
    font-family: 'Red Hat Text', sans-serif;
}
#heading{
    color:yellow;
    background-color:brown; 
    margin-top: 50px;

    text-transform: uppercase;
    letter-spacing: 10px;
}
.input{
    padding: 10px;
    border-radius: 5px; 
    width: 250px;   
    margin:
}
.input:focus{
outline: none;
}
.input::placeholder{
    text-transform: uppercase;
    letter-spacing: 2px;

}
.maincontainer{
display: flex;
justify-content: center;
}
.countcontainer{
    width: 120px;
    margin: 20px;;
}

.count{
    background-color: #343650;
    color: #fb6087;
    width: 110px;
    height: 100px;
    font-size: 70px;
    border-radius:8px ;
}
.time{
    background-color: #211A29;
    color: #fb6087;
    font-size: 25px;

}
.counttxt{
    color:#8486a9;
    text-transform:uppercase ;
    letter-spacing: 3px;
}
.button{
    font-size: 16px;
    padding: 10px;
    border:none;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 6px;
    background-color: transparent;
    border:2px solid #8486a9;
    color:#a25d7d;
    height: 50px;
    width: 200px;
    margin: 20px;
}
.button:hover{
cursor: pointer;
background-color:whitesmoke;

}
#demo{
    color: aliceblue;   
}
span{
    color:#e71a18;
}
.footer{
    color:snow;
    text-align: center;
    font-size:15px; 
   
    margin-top: 200px;
    
}